<div class="container">
    <h1 class="mt-5">User Page</h1>
    <table class="table mt-3">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Password</th>
                <th>Address</th>
                <th>Image</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% data.users.forEach(user => { %>
            <tr>
                <td><%= user.id %></td>
                <td><%= user.username %></td>
                <td><%= user.email %></td>
                <td><%= user.firstName %></td>
                <td><%= user.password %></td>
                <td><%= user.address %></td>
                <td><img style="width: 100px;height: 100px;" src="<%= user.image %>" alt=""></td>
                <td><%= user.role %></td>
                <td>
                  
                    <form action="/users/<%= user.id %>" method="POST">
                        <input type="hidden" name="_method" value="DELETE">
                        <button type="submit" class="btn btn-danger">Xóa</button>
                    </form>
                </td>
              <td>  <a href="/users/<%= user.id %>/edit" class="btn btn-primary">Sửa</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</div>